body {
    background:url(background.png);
    background-size: cover;    /* sets the image to cover the entire backroud */
    font-family: sans-serif;
    text-transform: capitalize;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
h1,h2 {
    font-size: 36px;
    color: rgb(255, 255, 255);
}
.search-container {
    display: flex;
    justify-content: flex-end;
    padding: auto;
    margin-top: auto;
}
#input {
    font-size: 20px;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 30px;
    margin-right: 10px;
} 
#search {
    background-color: #4caf50;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    text-align: center;
    cursor: pointer;
}
#previous-days-btn {
    background-color: #2196f3;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
} 
.weather {
    text-align: center;
    color: white;
    margin-top: 50px;
}
#city {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.temperature-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
#logo {
    width: 90px; 
    height: 90px; 
    border-radius: 35%; /* this will create a circular border */
    background: rgba(240, 248, 255, 0.408);
  }
#temperature {
    font-size: 50px;
    margin-right: 10px;
    color: white;
}
.forecast {
    margin-top: 50px;
    text-align: center;
}
.forecast-header {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}
.templist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
  